#Vision data folders
visionData/videoCalibration/camera_a/**
visionData/videoCalibration/camera_b/**
visionData/videoCalibration/*.mat
visionData/greenBackground/**

#System Files
.DS_Store
Thumbs.db
